# Ignore large model artifacts and build products

# Model artifacts
models/optimized/
models/*.onnx
models/uecfoodpix_segmentation.mlpackage/

# Xcode & macOS cruft
.DS_Store
DerivedData/
.derivedData/
xcuserdata/
*.xcuserstate
*.hmap

# App packaging
*.ipa
*.dSYM.zip
*.dSYM

# Playgrounds
timeline.xctimeline
playground.xcworkspace

# Swift Package Manager
.build/
build/

# Carthage
Carthage/Build/

# fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/**/*.png
fastlane/test_output

# Python venvs
venv/
.venv/
backend/.venv/


# claude plugins
norrish-plugin
