<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_BASE_URL</key>
	<string>https://norrish.myftiu.al</string>
	<key>API_KEY</key>
	<string>rILKsICSXgJDHJK7fNsiWtfeRTt4uMBj</string>
	<key>JWT_TOKEN</key>
	<string>fGGAlVhSc7XrB_YyFnbF1Cx-2IBG_kFod9xIuV4ScYM-YRFYfnebPEVLdRGqBjtQ8G0_qaPXEiNuhzVk8PC7ng</string>
	<key>API_TIMEOUT_SECONDS</key>
	<integer>30</integer>
</dict>
</plist>
